@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --background: #f5f5f5;
  --foreground: #0e002f;
  --mix-blend-mode: "soft-light";
  --light-opacity: 70%;
  --body-noise-opacity: 0.6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e002f;
    --foreground: #f5f5f5;
    --mix-blend-mode: "normal";
    --light-opacity: 40%;
    --body-noise-opacity: 0.3;

  }
}
 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Cormorant Infant', serif;
  font-optical-sizing: auto;
  font-weight: 600;
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  mix-blend-mode: hard-light;
  opacity: var(--body-noise-opacity);
  pointer-events: none;
  z-index: 1;
  background-repeat: repeat;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.cormorant-infant {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.cormorant-infant-italic {
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.light-effect {
  position: fixed;
  opacity: var(--light-opacity);
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, var(--foreground), transparent 100%);
  pointer-events: none;
  mix-blend-mode: var(--mix-blend-mode); 
  filter: blur(80px);
  z-index: 0;
}

.main-page-title {
  transform-style: preserve-3d;
  will-change: transform;
  perspective: 1000px;
}